:root {
    --primary-color: #181818;
    --secondary-color: #FFCB9A;
    --third-color: #F8F9FA;
    --fourth-color: #116466;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin-top: 100px;
    background-color: var(--primary-color);
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 48px;
    color: var(--third-color);
}

h2 {
    font-size: 34px;
    color: var(--fourth-color);
}

h3 {
    color: var(--fourth-color);
    font-size: 24px;
    opacity: 0.7;
}

p {
    color: var(--third-color);
    font-size: 18px;
    line-height: 1.5;
    margin: 1rem;
}

hr {
    color: var(--secondary-color);
}

.container-fluid {
    margin: 0 55px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
}

.primary-link {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
    border: 1px solid var(--fourth-color);
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.primary-link:hover {
  text-decoration: underline;
  color: var(--fourth-color);
}

.secondary-link {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--fourth-color);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.secondary-link:hover {
    text-decoration: underline;
    color: var(--fourth-color);
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 20px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
    color: var(--fourth-color);
}

img {
    width: 100%;
    height: auto;
}